*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/build
app/release
*.keystore
*.jks
debug.keystore
keystore.properties
google-services.json
GoogleService-Info.plist
*.apk
*.aab
*.log
*.lock
*.hprof
*.txt
!.github/
!.gitignore
